<div>
  <div class="content">
    <% months.each do |month| %>
      <div class="month-table">
        <h1><%= month.name %></h1>
        <table>
          <tr>
            <th>Date</th>
            <th>Insured</th>
            <th>Uninsured</th>
          </tr>
          <% month.days.each do |day| %>
            <tr>
              <td><%= day_name(day) %></td>
              <td><%= day.insured %></td>
              <td><%= day.uninsured %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>
