<div class="content">
  <% months.each do |month| %>
    <div class="month-table">
      <h1><%= link_to month.name, month_path(month) %></h1>
      <table>
        <tr>
          <th>Date</th>
          <th>Insured</th>
          <th>Uninsured</th>
        </tr>
        <% month.days.each do |day| %>
          <%= react_component("Day", day: day) %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
