<nav>
  <div class="nav-content">
    <div class="left">
      <h1>Patient Tracker - <%= current_user.name if current_user.present? %></h1>
    </div>

    <div class="right">
      <% if current_user %>
        <h2>
          <span><%= link_to current_user.current_month.name, month_path(current_user.current_month) %></span>
          <span><%= link_to "Year", months_path %></span>
          <span><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
        </h2>
      <% end %>
    </div>
  </div>
</nav>
