/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'variables';

body {
  margin: 0;
  font-family: 'Roboto', serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', serif;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
  &:hover {
    text-decoration: underline;
  }
}

.fa {
  cursor: pointer;
  color: gray;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

i {margin: 0 5px;}

.fa-unlock {
  color: $unlock-color;
  &:hover {
    color: #9E6D0B
  }
}

nav {
  background: $main-color;
  width: 100%;
  .nav-content {
    width: auto;
    text-align: center;
    .left {
      width: 40%;
      text-align: left;
    }
    .right {
      width: 40%;
      text-align: right;
    }
    h1, h2, a {
      color: white;
      width: 100%;
    }
    div, h2 {
      display: inline-block;
      span {
        margin: 0 2%;
      }
    }
  }
}

.container {
  width: 90%;
  margin: 0 5%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.month-table, .month-table-show {
  h1 {color: $secondary-color;}
  margin: 10px 0;
  padding: 10px;
  border: 2px solid black;
  flex: 1 1 0;
  min-width: 250px;
  max-width: 250px;
  td, th {
    border-right: 1px dotted gray;
    padding: 0;
    width: 100px;
  }
}

.month-table { margin: 28px 10px 5px 0}

.num-input {
  width: 40px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
